@{
    ViewData["Title"] = "Home Page";
}

<div id="content"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script src="https://unpkg.com/reactstrap/dist/reactstrap.min.js"></script>
<script src="~/Scripts/App.jsx"></script>
@Html.ReactInitJavaScript()


